
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import url('https://fonts.googleapis.com/css?family=Plaster');

@import url('https://fonts.googleapis.com/css?family=Courgette|Megrim');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Token Input
@import "./../css/jquery-token-input-styles/token-input.css";

@import '~jquery-ui/themes/base/all.css';

//@import "node_modules/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min";

/*
 * Color settings
 */
$logo-text-color: white;
//$sidebar-background-color: #EeEeEe;
$sidebar-background-color: #FFF8DC;
$sidebar-left-border-color: #FF3B3F;
$sidebar-right-border-color: #E7E7E7;
$active-text-color: #b2b2b2;

/*
 * General settings
 */
body {
    font-family: 'Open Sans', sans-serif;
}

//.wrapper {
    //margin-top: 100px;
//}

/*
 * Logo
 */
#main-logo {
    font-family: 'Plaster', cursive;
    color: $logo-text-color;
    font-size: 2em;
}

/*
 ******* Sidebar *******
 */
.sidebar {
    background-color: $sidebar-background-color;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    border-left: 8px solid $sidebar-left-border-color;
    border-right: 2px solid $sidebar-right-border-color;
    transition: 0.5s width ease-in-out;
    box-shadow: 0 0 10px #bbb;
    @media screen and (min-width: 766px) {
        visibility: visible;
        position: fixed;
        width: 200px;
    }
    @media screen and (max-width: 766px) {
        display: none;
    }

}

/*
 * Sidebar: User Info
 */
#user-panel {
    padding-top: 1.5em;
    padding-bottom: 0em;
    text-align: center;

    img, div {
        // display: inline-block;
    }

    div {
        margin-top: 1em;
        p {
            font-size: 1em;
            font-weight: bold;
            // font-family: 'Megrim', cursive;
            span {
                font-weight: normal;
            }
        }
    }
}

#user-panel .sidebar-search-button {
    width: 30px;
}

/*
 * Sidebar: Menu items
 */
.sidebar-item {
    a img, a p {
        display: inline-block;
    }

    vertical-align: middle;
    a p {
        // font-family: 'Courgette', cursive;
        font-size: 1em;
        color: #414141;
        padding-left: 0.2em;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

#sidebar-menu li.active {
    border-right: $sidebar-left-border-color solid 5px;
}

#sidebar-menu li a:hover {
    background-color: rgba(0, 0, 0, 0);
    p {
        color: $active-text-color;
    }
}

.hide-desktop {
    @media screen and (min-width: 766px) {
        display: none;
    }
}

.mobile-nav {
    @media screen and (min-width: 700px) {
        display: none;
    }
    a img, a p {
        display: inline-block;
    }
    a p {
        // font-family: 'Courgette', cursive;
        font-size: 1.2em;
        color: #fafafa;
        padding-left: 0.5em;
        margin-bottom: 0;
        margin-top: 3px;
    }
}



/*
 ******* General page content *******
 */

.main {

}

.calendar-container {
    padding-right: 3em;
}
